@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* UPDATES: Organized how classes and ids are sorted. */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    line-height: 1.6;
}

h1{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 150px 0 30px 0;
    height: 120px;
}

form {

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
    
}

.search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 60px;
}

#search-input{
    width: 60%;
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}

#search-button{
    padding: 5px 20px;
    background-image:linear-gradient(to bottom,#008cba 0%,#fffffe 100%);
    color:#020202bd;
    border:none;
    font-size:18px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    border-radius: 5px;
    margin-top: 60px; 
    margin-bottom: 40px;
    transition: opacity 0.2s ease-in-out;
}

/* UPDATE: added a highlighted effect when hovering over the element in the search button */
#search-button:hover {
    opacity: 0.8;
}

#show-more-button {
    
    background-image:linear-gradient(to top,#008cba 0%,#fffffe 100%);
    font-size: 18px;
    border: none;
    color: #000000;
    padding: 10px 20px;
    text-align: center;
    margin: 30px auto;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
/*UPDATE: removed display lock and changed to display none to set home page to not display the Show more Button */
    display: none;
}

/* UPDATE: added a highlighted effect when hovering over the element in the show more button */
#show-more-button:hover {
    opacity: 0.8;
}

.search-results{
    display: flex;
    justify-content:space-between;
    flex-wrap:wrap;
    max-width: 1200px;
    margin: 0 auto;
}


.search-result{
    margin-bottom: 60px;
    width:30%;
    height:100%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    overflow:hidden;
}


.search-result img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.2s ease-in-out;
}

.search-result:hover img{
    opacity: 0.8;
}


.search-result a{
    font-size: 20px;
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    text-transform: capitalize;
}

@media screen and (max-width:768px) {
    .search-results{
        padding: 20px;
    }
    .search-result{
        width:45%;
    }
   
}

@media screen and (max-width:480px) {
    .search-result{
        width:100%;
    }
}